.argument{
  display: inline-flex;
  flex-direction: column;
  align-items: start;
  gap: 1.2rem;
  font-size: 1.10rem;
}

.bg{
    position: absolute;
    background-repeat: no-repeat;
    width: 120rem;
    height: 67.375rem;
    flex-shrink: 0;
    background: url("../img/Fond.jpg") lightgray 50% / cover no-repeat;
    filter: blur(3.9000000953674316px);
    z-index: -20000;
    margin-top: -1rem;
}

.item2 { 
  grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }

.grid-container {
  display: flex;
  justify-content: center;
  margin-top: 7rem;
  display: grid;
  grid-template-areas:
    'menu main main main right right';
  gap: 150px;
  padding: 10px;
  margin-left: 5rem;
}

.grid-container > div {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.cadre{
  display: flex;
  width: 20vw;
  height: auto;
  padding: 0.75rem 0.9375rem; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
    gap: 1.375rem;
  border-radius: 2.6875rem;
  border: 3px solid #FFF;
  background: rgba(0, 0, 0, 0.84);
}

.titre{
color: #FFF;
text-align: center;
font-family: "Mea Culpa";
font-size: 2.50rem;
font-style: normal;
font-weight: 10;
line-height: normal;
}

.jaune{
  border-radius: 1.5rem;
  background: rgba(255, 233, 106, 0.76);
  display: flex;
  padding: 1.05rem;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  font-size: 1.2rem;
  width: 70%;

}

.note{
  display: inline-flex;
width: 100%;
height: 10%;
justify-content: start;
align-items: center;
gap: 1.4375rem;
flex-shrink: 0;
border-radius: 2rem;
background: #FFF;
box-shadow: 20px 14px 40px 0px rgba(0, 0, 0, 0.08);

}

.logo{
  width: 4rem;
  height: 4rem;
  flex-shrink: 0;
  border-radius: 5rem;
  border: 4px solid #FFF;
  background: url(<path-to-image>) lightgray 50% / cover no-repeat;
  box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.08);
  margin-left: 1rem;
}

.verticale{
  display: inline-flex;
  flex-direction: column;
  gap: -14%;
}

.notes{
  color: var(--Dark---gray, #6A6A6A);
  font-family: Manrope;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.25rem; /* 100% */
  margin-top: -0.20rem;
}

.test{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex: 1 0 0;
  margin-top: 1rem;
}

.titres{
  color: #FFF;
  text-shadow: 0px 4px 6.5px #FFF;
  font-family: "Mea Culpa";
  font-size: 8rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 2rem;
  text-align: center;
}

.boutton{
  display: inline-flex;
  height: 1.15rem;
  width: 80%;
  padding: 1.6875rem 0.4375rem;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  border-radius: 1.25rem;
  border: 2px solid #FFF;
  background: #353535;
  color: white;
}

.boutton:hover{
  transform: scaleZ(10000rem);
}

.reserve {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -5rem;
}

