@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Mea+Culpa&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Manrope:wght@200..800&family=Mea+Culpa&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.navbar {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    position: sticky;
    top: 0;
    z-index: 2;
}

.dark-mode .navbar {
    background-color: rgba(30, 30, 30, 0.9);
}

.logo {
    font-family: 'Mea Culpa', cursive;
    font-size: 2.5rem;
    color: #333;
}

.dark-mode .logo {
    color: #ffffff;
}

.nav-menu {
    display: flex;
    gap: 2rem;
    list-style: none;
}

.nav-item {
    font-family: Arial, sans-serif;
}

.nav-link {
    text-decoration: none;
    color: #333;
    font-size: 1.1rem;
    transition: color 0.3s ease;
}

.dark-mode .nav-link {
    color: #ffffff;
}

.nav-link:hover {
    color: #007bff;
}

.dark-mode .nav-link:hover {
    color: #00aaff;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease;
    background-color: #333;
}

.dark-mode .bar {
    background-color: #ffffff;
}

@media (max-width: 768px) {
    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.9);
        width: 100%;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    }

    .dark-mode .nav-menu {
        background-color: rgba(30, 30, 30, 0.9);
    }

    .nav-item {
        margin: 16px 0;
    }

    .nav-menu.active {
        left: 0;
    }
}

header {
    position: relative;
    z-index: 2;
    margin-bottom: 2rem;
}
